*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

.flex
{
    display: flex;
}

.grid
{
    display: grid;
}

.frame
{
    height: 100vh;
    background-color: #eaf6f6;
    justify-content: center;
    align-items: center;
}

.box
{
    width: 400px;
    height: 400px;
    background-color: #1A132F;
    border-radius: 8px;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.page
{
    width: 75%;
    height: 75%;
    background-color: #F7E2E2;
    border-radius: 4px;
    color: #1A132F;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

.title
{
    height: 18%;
    border-bottom: 1px solid #535755;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 54px;
}

.icons
{
    height: 64%;
    position: relative;
    perspective: 1000;
    transform-style: preserve-3d;   
    transition: 1.2s ease-in-out 2.9s;
}

.file, .icon
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.file
{
    cursor: pointer;
    font-size: 2rem;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.icon
{
    padding: 2rem;
    backface-visibility: hidden;
    font-size: 4rem;
}

.icon.upload
{
    transform: translate(-50%, -50%) rotateY(0);
}

.icon.uploaded
{
    transform: translate(-50%, -50%) rotateY(180deg);
}

.button
{
    margin: 0 auto 1rem;
    width: 120px;
    height: 48px;
    background-color: #5B7DB1;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 48px;
    overflow: hidden;
    position: relative;
}

.button::before
{
    width: 120px;
    height: 48px;
    background-color: #180021;
    border-radius: 0.25rem;
    content: '';
    opacity: 0.3;
    overflow: hidden;
    position: absolute;
    left: -120px;
    transition: 1s;
}

/*========== EXTERA CLASSES ==========*/
.bt__upload::before
{
    animation: uploading 3s;
}

.completed-upload
{
    transform: rotateY(540deg);
}

/*========== ANIMATION ==========*/
@keyframes uploading
{
    0%
    {
        left: -120px;
    }
    10%
    {
        left: -110px;
    }
    25%
    {
        left: -90px;
    }
    50%
    {
        left: -65px;
    }
    70%
    {
        left: -55px;
    }
    100%
    {
        left: 0px;
    }
}
